In [2]:
import torch

In [3]:
import pandas as pd

In [40]:
df = pd.read_csv("C:\\Users\\utg_1\\OneDrive\\Documents\\Mohamed's\\Studies\\FAU\\SS20\\DL\\Ass4\\src_to_implement\\data.csv")
df

                 filename  crack  inactive
0     images/cell2044.png      1         0
1     images/cell0123.png      0         0
2     images/cell2241.png      0         0
3     images/cell2426.png      0         0
4     images/cell1552.png      0         0
...                   ...    ...       ...
1995  images/cell1615.png      1         1
1996  images/cell0444.png      1         1
1997  images/cell1414.png      0         0
1998  images/cell1300.png      0         0
1999  images/cell1103.png      0         0

[2000 rows x 3 columns]

In [42]:
#df.iloc[1:,0] [index, 0]
df.iloc[1]#.str.replace('/', '\\')

filename    images/cell0123.png
crack                         0
inactive                      0
Name: 1, dtype: object

In [34]:
df.iloc[[1,2,3,4,5],1::]

      crack  inactive
0         1         0
1         0         0
2         0         0
3         0         0
4         0         0
...     ...       ...
1995      1         1
1996      1         1
1997      0         0
1998      0         0
1999      0         0

[2000 rows x 2 columns]

In [46]:
import sys

print(int(sys.argv[1]))

ValueError: invalid literal for int() with base 10: '-f'

In [56]:
sys.argv[1]

'-f'

In [71]:
torch.save({'modelA_state_dict': '123456789'} , "C:\\Users\\utg_1\\OneDrive\\Documents\\Mohamed's\\Studies\\FAU\\SS20\\DL\\Ass4\\src_to_implement\\checkpoints\\heyyyyy_.cpk")